.container {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  display: flex;
  flex: 1;
  background-color: #14293f;
}

.image{
  width: 100vw;
  height: 745px;
}

.button {
  width: 100px;
  height: 40px;
  padding: 10px;
  margin-top: -150px;
  background-color: #ececec;
  font-weight: bold;
  border-radius: 8px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.containerNickname {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  display: flex;
  flex: 1;
  background-color: #E8C7C8;
}

.form {
  position: absolute;
  top: 450px;
  left: 40px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.field {
  height: 40px;
  width: 300px;
  border: 0px;
  padding-left: 20px;
}

.containerBoy {
  width: 100%;
  height: 120vh;
  flex-direction: column;
  display: flex;
  flex: 1;
  background-color: #d6ebf1;
}

.containerGuess{
  width: 100%;
  height: 120vh;
  flex-direction: column;
  display: flex;
  flex: 1;
  background-color: #FFFFFF;
}

.video {
  width: 100vw;
  height: 100vh;
}